.jumbotron{
	padding-bottom: 0.5%;
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #374566), color-stop(100%, #010203));
	background-image: -webkit-radial-gradient(#374566, #010203);
	background-image: -moz-radial-gradient(#374566, #010203);
	background-image: -o-radial-gradient(#374566, #010203);
	background-image: radial-gradient(#374566, #010203);
	text-align: center;
}

.jumbotron h1{
	color: #996ca3;
}

.jumbotron p{
	color: silver;
	font-weight: 500;
}
.jumbotron img{
	width: 10%;
}

div img{
	margin-top: -2%;
}

.active{
	font-weight: bold;
}

nav{
	margin: 0 3%;
}

.brief{
	margin-top: 1.5%;
}

.brief p{
	font-size: 130%;
}

.fa-heart{
	color: rgb(200,0,0);
}

footer{
	font-size: 110%;
	color: #fff;
	padding-bottom: 0.5%;
	margin: 1% 0;
	text-align: center;
	background-color: #213;
}
#arrow{
	display: none;
}